body
{
    font-family: 'Montserrat', sans-serif;
    background: #faf5f5;
}

.wrapper
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.1);
}
.main-description
{
    background: blue;
    margin: 20px;
    padding: 20px;
}
li{

    color: green;
}
